@model movieList.Models.Movie


<div class="container">
	<div class="col-md-12">
		<div class="col-md-12">
			<h2>@Model.Title</h2>
			<p>
				<span class="glyphicon glyphicon-time"></span>
				@Html.DisplayFor(modelMovie => Model.Duration) minuten
			</p>
		</div>
		<div class="col-md-6">
			<h3>Beschrijving</h3>
			@Html.DisplayFor(modelMovie => Model.Description)
		</div>
		<div class="col-md-6">
			<h3>Acteurs</h3>
			<div>
				@String.Join(", ", Model.Actors.Select(p => p.Name).ToArray())
			</div>
		</div>
	</div>
</div>
<script>
	if (typeof (Storage) !== "undefined") {
		var urlParams = new URLSearchParams(window.location.search);
		if (urlParams.get("favorites") === "saved")
			movie = {
				"id": "@Model.ID",
				"title": "@Model.Title",
				"description": "@Model.Description",
				"duration": "@Model.Duration",
				"actors": {
					@foreach (var actor in Model.Actors){
						@:"id": "@actor.ID",
						@:"name": "@actor.Name",
					}
				}
			}
		localStorage.setItem(@Model.ID, JSON.stringify(movie));
	}
</script>