<h2>Favorieten films</h2>

<script>
	Object.keys(localStorage).forEach(function (key) {
		var retrievedObject = localStorage.getItem(key);
		console.log('retrievedObject: ', JSON.parse(retrievedObject));
	});
</script>

@*<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				@using (Html.BeginForm("Index", "Movie", FormMethod.Post))
				{
					@Html.TextBox("search")
					<input type="submit" value="Zoeken" id="submit" />
				}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-xs-2 text-danger">
				Titel
			</div>
			<div class="col-xs-6 text-danger">
				Omschrijving
			</div>
			<div class="col-xs-2 text-danger">
				Duur
			</div>
			<div class="col-xs-2 text-danger">
				Acties
			</div>
		</div>
	</div>
	<div class="col-md-12">
		@foreach (var movie in Model)
		{
			<div class="row">
				<div class="col-xs-2">
					@Html.DisplayFor(modelMovie => movie.Title)
				</div>
				<div class="col-xs-5">
					@Html.DisplayFor(modelMovie => movie.Description)
				</div>
				<div class="col-xs-2">
					@Html.DisplayFor(modelMovie => movie.Duration) minuten
				</div>
				<div class="col-xs-3">
					@Html.ActionLink("Details", "details", "Movie", new { id = movie.ID }, null) |
					@Html.ActionLink("Toevoegen aan favorieten", "details", "Movie", new { id = movie.ID, favorites = "saved" }, new { @class = "favorites" })
				</div>
			</div>
		}
	</div>*@

</div>